<h1>New Task</h1>


<%= form_with scope: :task, url: tasks_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>
  
  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>
  
  <p>
    <%= form.submit %>
  </p>
<% end %>
