<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<% if @task.when %>
  <p>
    <strong>Date:</strong>
    <%= @task.when %>
  </p>
<% end %>

<% if @task.description %>
  <p>
    <strong>Description:</strong>
    <%= @task.description %>
  </p>
<% end %>

<h2>Plans</h2>
<% @task.plans.each do |plan| %>
  <% if plan.when %>
    <p>
      <strong>When:</strong>
      <%= plan.when %>
    </p>
  <% end %>
  
  <% if plan.description %>
    <p>
      <strong>Description:</strong>
      <%= plan.description %>
    </p>
  <% end %>
  
<% end %>

<h2>Add a plan:</h2>
<%= form_with(model: [ @task, @task.plans.build ], local: true) do |form| %>
  <p>
    <%= form.label :when %><br>
    <%= form.datetime_field :when %>
  </p>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_task_path(@task) %>
<%= link_to 'Back', tasks_path %>
